# Ignore Nextflow logs and caches
.nextflow.log*
.nextflow
work

# Ignore DS_Store
.DS_Store

# Ignore output folder
EVTA_output

# Ignore GFF folders
GFF_*

# Ignore all process publishDirs
INOC
Merged
T1_Consensus
T2_BAMs
bkup_data

# Ignore real data files
all_cynos
7933_daata
subworkflows/Epitopes/data
subworkflows/Epitopes/ref
subworkflows/Epitopes/Sorted_n_Mapped_BAMs
subworkflows/Epitopes/Variant_calls

# Ignore git files
github

# Ignore all ref files but our SIVmac239
ref/
!ref/SIVmac239*
!ref/amp3_primers.fa
Epitopes_only_gff

# Include nextflow script files
!main.nf
!nextflow.config

# Ignore Docker stuff
docker-image.yaml