params {

	// where to look for BAM files
	fastq_dir = "${projectDir}/data"

	// the reference FASTA to use for innoculum consensus building
	ref_fasta = "${projectDir}/ref/SIVmac239.fasta"

	// Reference file annotation GFF necessary to be lifted onto new consensus files for variant calling
	ref_GFF = "${projectDir}/ref/SIVmac239.gff3"

	// Adapter file for bbmap to use, typically bbmap doesn't need it pointed to, but it sometimes fails
	adapters = "${projectDir}/ref/adapters.fa"

	// Amp of interest primers
	amp_primers = "${projectDir}/ref/amp3_primers.fa"

	// Inoc vs time1 analysis and variant call option
	var_t1 = true

	// Multifasta file containing primers used to amplify genome
	primers = "${projectDir}/ref/primers.fa"

    // Inoculum sample SimpleName, must be exact
	inoc_prefix_before_dash = "PC"

	// Where to place results
	results = "${launchDir}/EVTA_output"

    // Memory allocation
    memory = 10G

    // CPU cores
    cpus = 4
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
//cleanup = params.cleanup

process.debug = false

process.containerOptions = '--privileged'

// PROFILE OPTIONS
profiles {
	
	standard {

		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		process.container = ""

	}
	
	docker {

		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		process.container = ""

	}
	
	singularity {

		singularity.enabled = true
		singularity.cacheDir = "work/apptainer/"
		singularity.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		process.container = ""

	}
	
	apptainer {

		apptainer.enabled = true
		apptainer.cacheDir = "work/apptainer/"
		apptainer.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		process.container = ""

	}

}


// MANIFEST
manifest {
	homePage = ""
	mainScript = "main.nf"
	defaultBranch = "main"
	description = "A Nextflow wrapper to call variants on Nextera fastq files"
	author = "William Gardner"
}